<app-header [studentDetailsIn]="studentDetailsOut"></app-header>
<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" [ngStyle]="{textAlign: 'center'}">
    <mat-tab label="Art On Exhibit">

        <ng-template mat-tab-label>
            Art On Exhibit
            <mat-icon>
                <span color="black" class="material-icons-outlined">
                looks_one
                </span>
            </mat-icon>
        </ng-template>

        <app-art-on-exhibit [artDetailsIn]="artDetailsOut"></app-art-on-exhibit>

    </mat-tab>

    <mat-tab label="Art By Culture">

        <ng-template mat-tab-label>
            Art By Culture
            <mat-icon>
                <span color="black" class="material-icons-outlined">
                looks_two
                </span>
            </mat-icon>
        </ng-template>

        <app-art-by-culture [artDetailsIn]="artDetailsOut"></app-art-by-culture>
    </mat-tab>
</mat-tab-group>
<app-footer></app-footer>